<a href="https://colab.research.google.com/github/JabberJaws89/Darpya/blob/main/Theodore_Cain's_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Data Cleaning & Exploratory Data Analysis on Invoices

Presented by
Theodore Cain

Wide World Importers is a fake company that sells a variety of different products such as slippers, coffee mugs, and flash drives. The company has extensive records of invoices that have been created during the past several years and would like you, the data analyst, to explore the data to determine if there is anything noteworthy that executives should incorporate into their business strategy. However, because the data has been input over the years using several different programs, there are some holes in the data set that need "cleaning". The data will eventually be run through a machine learning model and thus cannot contain any null values.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/invoices.csv')
df.head()

<ipython-input-1-3f39dae779c4>:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/invoices.csv')

,InvoiceLineID,InvoiceID,StockItemID,Description,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy,LastEditedWhen,Customer
0,1,1,67.0,Ride on toy sedan car (Black) 1/12 scale,7,10,230.0,15,345.0,850.0,2645.0,7,NaN,Stuff by Stew
1,2,2,50.0,Developer joke mug - old C developers never di...,7,9,13.0,15,NaN,76.5,-999.0,7,1/1/2013 12:00,Wholesaler Plus
2,3,2,10.0,USB food flash drive - chocolate bar,7,9,32.0,15,43.2,180.0,331.2,7,NaN,Wholesaler Plus
3,4,3,114.0,Superhero action jacket (Blue) XXL,7,3,30.0,15,NaN,24.0,-999.0,7,NaN,Big Buys Retail
4,5,4,206.0,Permanent marker black 5mm nib (Black) 5mm,7,96,2.7,15,NaN,96.0,NaN,7,1/1/2013 12:00,Terry's Trinkets

You should perform the following cleaning steps as indicated in the questions below, in this order:

1-Fix standardization errors, where applicable

2-Fix business logic errors, where applicable

3-Impute null values, where possible
Drop columns with many null values, where applicable

4-Drop rows with null values, where applicable

5-Drop duplicate rows, where applicable,
Identify outliers and fix them as instructed

The company would like you to answer the following questions, after cleaning has been performed:

1-Which customer has the most invoices?

2-Which item has the highest total quantity sold?

3-Which item has generated the most total profit?

4-Which item do customers purchase the most quantity of, on average?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230548 entries, 0 to 230547
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   InvoiceLineID   230548 non-null  int64
 1   InvoiceID       230548 non-null  int64
 2   StockItemID     230087 non-null  float64
 3   Description     229876 non-null  object
 4   PackageTypeID   230548 non-null  int64
 5   Quantity        230548 non-null  int64
 6   UnitPrice       230548 non-null  float64
 7   TaxRate         230548 non-null  int64
 8   TaxAmount       109623 non-null  float64
 9   LineProfit      230548 non-null  float64
 10  ExtendedPrice   113081 non-null  float64
 11  LastEditedBy    230548 non-null  int64
 12  LastEditedWhen  6 non-null       object
 13  Customer        230548 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 24.6+ MB

In [ ]:
df.describe()

,InvoiceLineID,InvoiceID,StockItemID,PackageTypeID,Quantity,UnitPrice,TaxRate,TaxAmount,LineProfit,ExtendedPrice,LastEditedBy
count,230548.000000,230548.000000,230087.000000,230548.000000,230548.000000,230548.000000,230548.000000,109623.000000,230548.00000,113081.000000,230548.000000
mean,114127.066880,35177.386891,110.181827,7.073638,39.252524,45.539361,14.463409,113.328006,375.38894,740.092626,10.800480
std,65900.142929,20338.920057,63.722514,0.644528,55.193934,139.510031,3.904056,221.866696,753.17041,1705.229089,5.509623
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.660000,-15.000000,0.380000,-645.00000,-999.000000,2.000000
25%,57062.750000,17570.000000,54.000000,7.000000,5.000000,13.000000,15.000000,14.400000,51.00000,89.700000,6.000000
50%,114130.500000,35151.000000,111.000000,7.000000,10.000000,18.000000,15.000000,34.500000,120.00000,248.400000,11.000000
75%,171203.250000,52766.000000,165.000000,7.000000,60.000000,32.000000,15.000000,129.600000,390.00000,919.080000,16.000000
max,228265.000000,70510.000000,227.000000,10.000000,3150.000000,1899.000000,15.000000,14994.000000,9200.00000,114954.000000,20.000000

In [ ]:
df['Customer'].unique()

array(['Stuff by Stew', 'Wholesaler Plus', 'Big Buys Retail',
       "Terry's Trinkets", 'Stuf by Stew', 'stuff by stew',
       "Terry's Trinket", 'Dennis Distribution'], dtype=object)

In [ ]:
df['InvoiceID'].unique()

array([    1,     2,     3, ..., 70508, 70509, 70510])

In [ ]:
df['InvoiceID'].value_counts()

InvoiceID
62574    7
21854    7
61806    7
47405    7
8524     7
        ..
12018    1
12013    1
38       1
37       1
33       1
Name: count, Length: 70510, dtype: int64

In [ ]:
df['Customer']=df['Customer'].replace({'Stuf by Stew':'Stuff by Stew', 'stuff by stew':'Stuff by Stew'})

In [ ]:
df['Customer'] = df['Customer'].replace({'Terry\'s Trinket': 'Terry\'s Trinkets'})

In [ ]:
df['Customer'].value_counts()

Customer
Stuff by Stew          101804
Terry's Trinkets        95076
Wholesaler Plus         15735
Big Buys Retail         13461
Dennis Distribution      4472
Name: count, dtype: int64

# 7-How to find null values in the LastEditedWhen column

In [ ]:
df['LastEditedWhen'].value_counts()

LastEditedWhen
1/1/2013 12:00     4
7/10/2015 12:00    1
5/31/2016 12:00    1
Name: count, dtype: int64

In [ ]:
# Check for null values using isnull() and sum()
null_count = df['LastEditedWhen'].isnull().sum()
print(f"Number of null values in 'LastEditedWhen': {null_count}")

Number of null values in 'LastEditedWhen': 230542

In [ ]:
# Get unique values excluding nulls (if any)
unique_values = df['LastEditedWhen'].dropna().unique()
print("Unique values (excluding nulls):", unique_values)

Unique values (excluding nulls): ['1/1/2013 12:00' '7/10/2015 12:00' '5/31/2016 12:00']

In [ ]:
# how do i drop the column LastEditedWhen?
df.drop(columns=['LastEditedWhen'], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230548 entries, 0 to 230547
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InvoiceLineID  230548 non-null  int64
 1   InvoiceID      230548 non-null  int64
 2   StockItemID    230087 non-null  float64
 3   Description    229876 non-null  object
 4   PackageTypeID  230548 non-null  int64
 5   Quantity       230548 non-null  int64
 6   UnitPrice      230548 non-null  float64
 7   TaxRate        230548 non-null  int64
 8   TaxAmount      109623 non-null  float64
 9   LineProfit     230548 non-null  float64
 10  ExtendedPrice  113081 non-null  float64
 11  LastEditedBy   230548 non-null  int64
 12  Customer       230548 non-null  object
dtypes: float64(5), int64(6), object(2)
memory usage: 22.9+ MB

8- Observe the columns StockItemID and Description. Notice that StockItemID is a single number, and each number has a corresponding Description. Thus, by knowing the StockItemID of a row, its Description can be imputed. However, if both the StockItemID and Description are missing, the item is unknown.

In [ ]:
# how many rows have both a null StockItemID and a null Description?
null_count = df['StockItemID'].isnull().sum()
print(f"Number of null values in 'StockItemID': {null_count}")

Number of null values in 'StockItemID': 461

In [ ]:
# how many rows have both a null StockItemID and a null Description?
null_count = df['Description'].isnull().sum()
print(f"Number of null values in 'Description': {null_count}")

Number of null values in 'Description': 672

In [ ]:
# how many rows have both a null StockItemID and a null Description?
null_count = df[(df['Description'].isnull()) & (df['StockItemID'].isnull())].shape[0]
print(f"Number of null values in 'Description','StockItemID: {null_count}")

Number of null values in 'Description','StockItemID: 461

9- Observe the rows that have both a null StockItemID and a null Description. Based on the number of null values and the questions asked by the executives, what do you recommend doing to remove null values from these columns?

In [ ]:
how do i drop rows containing null values in columns StockItemID and Description?

Object `Description` not found.

10- Perform the action that you recommended above. How many rows are left in the data frame?

In [ ]:
# Drop rows with null values in 'column1' and 'column2'
df.dropna(subset=['StockItemID', 'Description'], inplace=True)

# Verify the result
#print(df_cleaned.head(50))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 229876 entries, 0 to 230547
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InvoiceLineID  229876 non-null  int64
 1   InvoiceID      229876 non-null  int64
 2   StockItemID    229876 non-null  float64
 3   Description    229876 non-null  object
 4   PackageTypeID  229876 non-null  int64
 5   Quantity       229876 non-null  int64
 6   UnitPrice      229876 non-null  float64
 7   TaxRate        229876 non-null  int64
 8   TaxAmount      109311 non-null  float64
 9   LineProfit     229876 non-null  float64
 10  ExtendedPrice  112751 non-null  float64
 11  LastEditedBy   229876 non-null  int64
 12  Customer       229876 non-null  object
dtypes: float64(5), int64(6), object(2)
memory usage: 24.6+ MB

11- Observe the TaxRate column, which contains some negative values. Based on your domain knowledge and best guess of what tax rates should be, which of the following actions might you recommend for preparing this data set for analysis?

In [ ]:
# how do i see the column for TaxRate?
df['TaxRate']

0         15
1         15
2         15
3         15
4         15
          ..
230543    15
230544    15
230545    15
230546    15
230547    15
Name: TaxRate, Length: 229876, dtype: int64

12- Perform the action that you recommended above. What is the average TaxRate?

In [ ]:
# how do i Change all negative values in taxrate?
df['TaxRate'] = df['TaxRate'].abs()

In [ ]:
df['TaxRate'].mean()

np.float64(14.977226852737997)

13- Observe the column TaxAmount, which indicates the amount of tax paid for each invoice line. The TaxAmount can be calculated using the following formula:


Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

In [ ]:
df['TaxAmount'].isnull().sum()

np.int64(120565)

In [ ]:
df['TaxAmount'].fillna((df['UnitPrice']*df['Quantity']*df['TaxRate'])/100, inplace=True)

<ipython-input-25-70fa8c6102bc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TaxAmount'].fillna((df['UnitPrice']*df['Quantity']*df['TaxRate'])/100, inplace=True)

In [ ]:
# how to remove null values in TaxAmount column?
# df.dropna(subset=['TaxAmount'], inplace=True)

14- Perform the action that you recommended above. What is the average TaxAmount after removing the null values?

In [ ]:
# how do i find the average in TaxAmount column?
df['TaxAmount'].mean()

np.float64(112.95172419043314)

15- Observe the column ExtendedPrice, which indicates the total price paid by the customer. The ExtendedPrice can be calculated using the following formula:


Based on this knowledge, the number of null values in the data set, and the questions being asked by the executives, what do you recommend doing to remove null values from this column?

In [ ]:
# df.dropna(subset=['ExtendedPrice'], inplace=True)

16- Perform the action that you recommended above. Treat the values of -999 as an input error and perform the recommended action on that value as well. After addressing these issues, what is the average ExtendedPrice?

In [ ]:
df['ExtendedPrice'].fillna((df['UnitPrice']*df['Quantity'])+df['TaxAmount'], inplace=True)

<ipython-input-29-983039010431>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ExtendedPrice'].fillna((df['UnitPrice']*df['Quantity'])+df['TaxAmount'], inplace=True)

In [ ]:
df['ExtendedPrice'].mean()

np.float64(803.8346782939498)

In [ ]:
#df.loc[df['ExtendedPrice'] == -999, df['ExtendedPrice']] = (df['UnitPrice']*df['Quantity'])+df['TaxAmount']

In [ ]:
df.loc[(df['ExtendedPrice'] == -999),'ExtendedPrice'] = ((df['UnitPrice'] * df['Quantity']) + df['TaxAmount'])

In [ ]:
# # how do i make an if statement to change -999 to (df['UnitPrice']*df['Quantity'])+df['TaxAmount'])?
# df['ExtendedPrice'] = df['ExtendedPrice'].apply(lambda x: (df['UnitPrice']*df['Quantity'])+df['TaxAmount'] if x == -999 else x)

In [ ]:
# df['ExtendedPrice'] = df.apply(lambda row: (row['UnitPrice'] * row['Quantity']) + row['TaxAmount'], axis=1)

In [ ]:
df['ExtendedPrice'].mean()

np.float64(867.6354556369522)

17- Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

In [ ]:
# Load your dataset
#df = pd.read_csv('your_dataset.csv')

df['Quantity_zscore'] = (df['Quantity'] - df['Quantity'].mean()) / df['Quantity'].std()
df['ExtendedPrice_zscore'] = (df['ExtendedPrice'] - df['ExtendedPrice'].mean()) / df['ExtendedPrice'].std()
# # Calculate Z-scores for a specific column
# df['z_score'] = stats.zscore(df['your_column'])

# # Identify outliers
# outliers = df[np.abs(df['z_score']) > 3]

# # Remove outliers
# df_cleaned = df[np.abs(df['z_score']) <= 3]

# # Display the cleaned DataFrame
# print(df_cleaned)

In [ ]:
# # Calculate Z-scores for a specific column
# from scipy.stats import zscore
# df['z_score'] = zscore(df['ExtendedPrice'])
# print(df['z_score'])

In [ ]:
# from scipy.stats import zscore
# df['z_score'] = zscore(df['Quantity'])
# print(df['z_score'])

In [ ]:
# # Identify outliers
# outliers = df[abs(df['z_score']) >= 3]
# print(outliers)

In [ ]:
# # Remove outliers
# df_cleaned = df[abs(df['z_score']) <= 3]
# print(df_cleaned)

17- Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

Based on the Quantity column, how many rows could be considered outliers?

In [ ]:
df[df['Quantity_zscore'] >= 3].shape[0]

5983

18- Observe values in the Quantity and ExtendedPrice columns. Use the z-score method with a threshold of 3 to determine which rows are outliers in these columns. Make sure that you get rows that have a z-score greater than or equal to 3.

Based on the ExtendedPrice column, how many rows could be considered outliers?

In [ ]:
df[df['ExtendedPrice_zscore'] >= 3].shape[0]

4517

20- The data set provided should have a unique ID for each invoice line, but there can be repeated invoice IDs. This is because several unique invoice lines can share the same invoice ID. Given this information, how would you approach checking for duplicate rows in the data set?

In [ ]:
# how do i check for duplicates in the invoiceID column?
#df['InvoiceID','InvoiceLineID'].duplicated().sum()

In [ ]:
# Correct syntax to access multiple columns and check for duplicates
duplicated = df[ 'InvoiceLineID'].duplicated().sum()

print(f"Number of duplicate rows: {duplicated}")

Number of duplicate rows: 2269

In [ ]:
df['InvoiceID'].duplicated().sum()

np.int64(159382)

In [ ]:
df['InvoiceLineID'].duplicated().sum()

np.int64(2269)

In [ ]:
df.drop_duplicates(subset=['InvoiceLineID'], inplace=True)
df.shape

(227607, 15)

22- At this point, you should have a data set that is mostly free of null values (only has some null values in the Description column). Use this data set to answer the questions below.

Which item has the highest total quantity sold? Use the Description and Quantity columns.

In [ ]:
# Which item has the highest total quantity sold?
df.groupby('Description')['Quantity'].sum().sort_values(ascending=False)

Description
Black and orange fragile despatch tape 48mmx75m     207108
Black and orange fragile despatch tape 48mmx100m    193572
Clear packaging tape 48mmx75m                       158392
3 kg Courier post bag (White) 300x190x95mm          154525
Shipping carton (Brown) 356x356x279mm               151525
                                                     ...
Superhero action jacket (Blue) L                      5450
Superhero action jacket (Blue) S                      5405
Superhero action jacket (Blue) XXL                    5404
DBA joke mug - mind if I join you? (Black)            5388
Superhero action jacket (Blue) XL                     5358
Name: Quantity, Length: 227, dtype: int64

23- Which item has generated the most total profit? Use the Description and LineProfit columns.

In [ ]:
# Which item has generated the most total profit? Use the Description and LineProfit columns?
df.groupby('Description')['LineProfit'].sum().sort_values(ascending=False)

Description
20 mm Double sided bubble wrap 50m                    5283560.0
Air cushion machine (Blue)                            4418898.0
32 mm Anti static bubble wrap (Blue) 50m              3514220.0
10 mm Anti static bubble wrap (Blue) 50m              3439800.0
32 mm Double sided bubble wrap 50m                    2915530.0
                                                        ...
Packing knife with metal insert blade (Yellow) 9mm      29888.1
Halloween zombie mask (Light Brown) L                  -63816.0
Halloween zombie mask (Light Brown) M                  -66444.0
Halloween zombie mask (Light Brown) S                  -70788.0
Halloween zombie mask (Light Brown) XL                 -72264.0
Name: LineProfit, Length: 227, dtype: float64

24- Which item is purchased in greatest quantities in a single order, on average? Use the Quantity and Description columns.

In [ ]:
# Which item is purchased in greatest quantities in a single order, on average? Use the Quantity and Description columns?
df.groupby('Description')['Quantity'].mean().sort_values(ascending=False)

Description
Black and orange fragile despatch tape 48mmx75m                                          199.526012
Black and orange fragile despatch tape 48mmx100m                                         199.148148
Clear packaging tape 48mmx75m                                                            145.313761
3 kg Courier post bag (White) 300x190x95mm                                               144.012116
Shipping carton (Brown) 356x356x279mm                                                    141.612150
                                                                                            ...
USB food flash drive - hamburger                                                           5.327273
Superhero action jacket (Blue) L                                                           5.317073
DBA joke mug - SELECT caffeine FROM mug (Black)                                            5.283915
Developer joke mug - understanding recursion requires understanding recursion (Black)      5.277831
Superhero action jacket (Blue) XXL                                                         5.211186
Name: Quantity, Length: 227, dtype: float64